<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/src/main/resources/static/style.css/"/>

        <title>The MARS Company</title>
    </head>
    <body>
        <header class="header">
            <nav class="main-nav">
                The MARS Company
            </nav>
            <div class="header-buttons" style="position:absolute; left:88%;">
                <button class="button" th:href="@{/}">Home</button>
                <button class="button" th:href="@{/}">Sign In</button>
                <button class="button" th:href="@{/}">Logout</button>
                <button class="button" th:href="@{/}">Career</button>
            </div>
        </header>

        <section class="section-part1">
            <div class="part1">
                <div class="part1-text-box">
                    <h1 class="heading-no1">
                        The MARS Company - We are building Your future
                    </h1>
                    <p class="part1-description">
                        Our company is taking care of building Your future on MARS
                        by building new pipelines, new power plants, new databases and much more!
                    </p>
                </div>
            </div>
        </section>
    </body>
</html>