html {
  /*font-size: 10px;*/
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: rgb(223, 204, 180);
}

/*.test {
  width: 1000px;
  background-color: red;
  padding: 100px;
  max-width: 1000px;
  max-width: 50rem;
  color: #fff;
  font-size: 2rem;
}*/

/***************/
/* GENERAL REUSABLE COMPONENTS*/
/***************/

/***************/
/* HEADER SECTION*/
/***************/
.header {
  background-color:peru;
  font-size: 3rem;
  font-weight: 500;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-right: 2rem;
  display: flex;
  border-bottom: 1rem solid #4c2905;
  justify-content: space-between;
}

.header-companyName-Logo {
  display: inline-flex;
}

.main-nav {
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

.logo {
  height: 5rem;
  padding: 1rem 1rem;
}

/* Dropdown Button */
.dropbtn {
  background-color: chocolate;
  border-color: #8B4000 ;
  font-size: 1.5rem;
  padding: 0.15rem 0.3rem;
  border-radius: 0.2rem;
  transition: background-color 1s;
  margin-right: 1rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  padding-top: 1rem;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color:chocolate;
  min-width: 8rem;
  font-size: 2rem;
  font-family: sans-serif;
  display: none;
  position: absolute;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  font-size: 2rem;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #8B4000;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  cursor: pointer;
  background-color:#441c00;
}


.header-buttons {
  text-align: right;
  padding-top: 1rem;
}

.button {
  background-color: chocolate;
  border-color: #8B4000 ;
  font-size: 1.5rem;
  padding: 0.15rem 0.3rem;
  border-radius: 0.2rem;
  transition: background-color 1s;
  margin-right: 1rem;
}

.button:hover,
.button:active{
  cursor: pointer;
  background-color:#441c00;
}

/***************/
/* PART1 SECTION*/
/***************/
.section-part1 {
  padding: 9rem;
  padding-top: 4rem;
}

.part1 {
  max-width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.heading-no1 {
  text-align: center;
  font-size: 7rem;
  font-weight: 500;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 4rem;
}

.part1-description {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.image1, .image2, .image3 {
  width: 100%;
  border-radius: 25%;
}

.image2, .image3 {
  margin-top: -5rem;
}

